{% extends "body.html.twig" %}

{% block title %}{{ parent() }}Forgotten Password{% endblock %}

{% block section_id %}security{% endblock %}

{% block body %}

<div class='ui basic segment'>
  {% include "partial/message_flash.html.twig" %}
  <div class='ui form stacked segment'>
      {{ form_start(form) }}
      <div class='field'>
      {{ form_row(form.email) }}
      </div>
      {{ form_row(form.submit) }}
      {{ form_end(form) }}
  </div>
</div>

{% endblock %}
