{% extends 'body.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block section_id %}login{% endblock %}

{% block body %}
	<form method="post" class="ui form login">
		<div class="ui stacked segment">
			{% if error %}
				<div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
			{% endif %}

			{% if app.user %}
				<div class="mb-3">
					You are logged in as {{ app.user.username }}, <a href="{{ path('odl_security_logout') }}">Logout</a>
				</div>
			{% endif %}

			{% if app.request.get('_route') != app.request.headers.get('referer') %}
				<input type="hidden" name="_target_path" value="{{ app.request.headers.get('referer') }}"/>
			{% endif %}
			<div class="field">
				<div class='ui left icon input'>
					<i class='user icon'></i>
					<input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" placeholder='Username' required autofocus>
				</div>
			</div>
			<div class="field">
				<div class='ui left icon input'>
					<i class='lock icon'></i>
					<input type="password" name="password" id="inputPassword" class="form-control" placeholder='Password' required>
				</div>
			</div>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			{#
			            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
			            See https://symfony.com/doc/current/security/remember_me.html

			            <div class="checkbox mb-3">
			                <label>
			                    <input type="checkbox" name="_remember_me"> Remember me
			                </label>
			            </div>
			        #}

			<button class="ui fluid large blue submit button btn btn-lg btn-primary" type="submit">
				Sign in
			</button>
		</div>
		<div class='ui stacked segment'>
			<a href='{{ path('odl_security_forgotten_password') }}'>Mot de passe oublié ?</a>
		</div>
	</form>
{% endblock %}
