{% extends "body.html.twig" %}

{% block title %}{{ parent() }}Forgotten Password{% endblock %}

{% block section_id %}security{% endblock %}

{% block body %}

<div class='ui basic segment'>
  {% include "partial/message_flash.html.twig" %}
  {% if form is defined %}
  <div class='ui form stacked segment'>
      {{ form_start(form) }}
      <div class='field'>
      {{ form_row(form.plainNewPassword) }}
      {{ form_row(form.plainNewPasswordRetry) }}
      </div>
      {{ form_row(form.save, {label: 'Submit'}) }}
      {{ form_end(form) }}
  </div>
  {% elseif message is defined %}
    {% include 'partial/message.html.twig' %}
  {% endif %}
</div>

{% endblock %}

{% block javascripts %}
{% if redirection is defined %}
<script>
setTimeout(function () {
   window.location.href = Routing.generate('{{ redirection }}');
}, 3000);
</script>
{% endif %}
{% endblock %}
