{% extends 'body.html.twig' %}

{% block title %}Register{% endblock %}

{% block section_id %}register{% endblock %}

{% block body %}
<h1>Register</h1>

{{ form_start(registrationForm) }}
{{ form_row(registrationForm.username) }}
{{ form_row(registrationForm.email) }}
{{ form_row(registrationForm.plainPassword) }}

<button class="btn">Register</button>
{{ form_end(registrationForm) }}
{% endblock %}
