{% extends 'body.html.twig' %}

{% block title %}Add arc{% endblock %}

{% block section_id %}admin{% endblock %}

{% block body %}

<div class="ui segment mainContainerForm">
    <div class="containerHeader">
        <a href="{{ backButton }}" class="ui button back-button">Retour</a>
        <h2>Ajouter un arc</h2>
    </div>
    {% include "partial/message_flash.html.twig" %}
    {{ form_start(form) }}
    <div class="ui form segment">
        {{ form_row(form.title) }}
        {{ form_row(form.content) }}
        <div class="ui divider"></div>
        {{ form_row(form.cover) }}
        <div class="ui divider"></div>
        {{ form_row(form.linkA) }}
        {{ form_row(form.linkB) }}
        <div class="ui divider"></div>
        {{ form_row(form.isEvent) }}
        <div class="ui divider"></div>
        {{ form_row(form.period) }}
        {{ form_row(form.position) }}
    </div>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>

{% endblock %}

{% block javascripts %}
<script>
    $(document).ready(function() {
        $('#arc_form_position').popup();
    });
</script>
{% endblock %}
