{% extends "body.html.twig" %}

{% block title %}
	{{ parent() }}Admin Home
{% endblock %}

{% block section_id %}admin
{% endblock %}

{%
 set cards = [
    {
        "title"      : "Mon profil",
        "description": "Éditer ses informations personnelles.",
        "icon"       : "user",
        "path"       : "odl_admin_profile"
    },
    {
        "title"      : "Arc",
        "description": "Ajouter un arc.",
        "icon"       : "plus circle",
        "path"       : "odl_admin_add_arc"
    }
 ]
%}
{% if is_granted('ROLE_ADMIN') %}
	{%
	set cardsForAdmin = [
		{
				"title"      : "Univers",
				"description": "Gérer les univers, les ères et les périodes.",
				"icon"       : "globe",
				"path"       : "odl_admin_manage_universe"
		}
	]
	%}
	{% set cards = cards|merge(cardsForAdmin) %}
{% endif %}
{% if is_granted('ROLE_SUPER_ADMIN') %}
	{%
	set cardsForSuperAdmin = [
		{
        "title"      : "Paramètres",
        "description": "Gestion des paramètres du site.",
        "icon"       : "cogs",
        "path"       : "odl_admin_settings"
    },
		{
        "title"      : "Utilisateurs",
        "description": "Gestion des utilisateurs.",
        "icon"       : "users",
        "path"       : "odl_admin_users"
    }
	]
	%}
	{% set cards = cards|merge(cardsForSuperAdmin) %}
{% endif %}

{% block body %}
	<div class='ui very padded grid'>
		<div class="ui raised very padded text container segment">
			{% include "partial/card.html.twig" %}
		</div>
	</div>
{% endblock %}
