{% extends "body.html.twig" %}

{% block title %}{{ parent() }}Journal{% endblock %}

{% block section_id %}admin{% endblock %}

{%
 set transcoIsEvent =
    {
        "1" : "le tag <i>Event</i> a été ajouté.",
        "-1" : "le tag <i>Event</i> a été retiré."
    }
%}

{% block body %}
<div class="ui very padded grid">
    <div class="containerHeader">
        <a href="{{ backButton }}" class="ui button back-button">Retour</a>
        <h2>Journal</h2>
    </div>
    <table class="ui celled table">
        <thead>
            <tr>
                <th>Date</th>
                <th>Auteur</th>
                <th>Status</th>
                <th>ODL</th>
                <th>Position</th>
                <th>Titre</th>
                <th>Description</th>
            </tr>
        </thead>
        <tbody>
            {% for line in journal %}
            {% if line.clType == "add" %}
            {% set cltype = "Ajout" %}
            {% set color = "positive" %}
            {% set position = line.newPosition %}
            {% elseif line.clType == "modify" %}
            {% set cltype = "Modification" %}
            {% set color = "warning" %}
            {% set position = line.oldPosition %}
            {% elseif line.clType == "delete" %}
            {% set cltype = "Suppression" %}
            {% set color = "negative" %}
            {% set position = line.oldPosition %}
            {% endif %}
            <tr class='{{ color }}'>
                <td data-label="date">
                    {{ 'Le ' ~ line.date|date('d/m/Y') ~ ' à ' ~ line.date|date('H:i:s') }}
                </td>
                <td data-label="author">
                    {{ line.author }}
                </td>
                <td data-label="status">
                    {{ cltype }}
                </td>
                <td data-label="readingOrder">
                    {{ line.nameUniverse ~ " " ~ line.nameEra }}
                </td>
                <td data-label="position">
                    {{ position }}
                </td>
                <td data-label="title">
                    {{ line.title|unescape }}
                </td>
                <td data-label="description">
                    {% if line.clType == "modify" %}
                    <ul>
                        {% if (line.newTitle != '') and (line.newTitle != line.title) %}
                        <li>{{ 'Nouveau titre : ' ~ line.newTitle|unescape }}</li>
                        {% endif %}
                        {% if (line.newPosition is defined) and (line.newPosition != '') and (line.newPosition != line.oldPosition) %}
                        <li>{{ 'Nouvelle position : ' ~ line.newPosition }}</li>
                        {% endif %}
                        {% if line.cover == 1 %}
                        <li>{{ 'Mise à jour de la cover' }}</li>
                        {% endif %}
                        {% if line.content == 1 %}
                        <li>{{ 'Mise à jour de la description' }}</li>
                        {% endif %}
                        {% if line.linkA == 1 %}
                        <li>{{ 'Mise à jour du premier lien' }}</li>
                        {% endif %}
                        {% if line.linkB == 1 %}
                        <li>{{ 'Mise à jour du second lien' }}</li>
                        {% endif %}
                        {% if transcoIsEvent[line.isEvent] is defined %}
                        <li>{{ transcoIsEvent[line.isEvent]|raw }}</li>
                        {% endif %}
                    </ul>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}
