{% extends 'body.html.twig' %}

{% block title %}Manage {{ entityType|capitalize }}{% endblock %}

{% block section_id %}admin{% endblock %}

{% block body %}

<div class="ui segment mainContainerForm">
    {% if backButton is defined %}
        {% set title = 'Univers' %}
        {% if parentEntity is defined %}
            {% if parentEntity.universe is defined %}
                {% set title = parentEntity.universe.name ~ ' - ' ~ parentEntity.name %}
            {% else %}
                {% set title = parentEntity.name %}
            {% endif %}
        {% endif %}
    <div class="containerHeader">
        <a href="{{ backButton }}" class="ui button back-button">Retour</a>
        <h2>{{ title }}</h2>
    </div>
    {% endif %}
    {% include "partial/message_flash.html.twig" %}
    {{ form_start(form) }}
    <div class="ui form segment">
        {{ form_row(form[formType], {'label': false}) }}
        <button id="add_entity" class="ui button">Ajouter</button>
        {{ form_row(form.save, {'attr': {'class': 'ui green button'}}) }}
    </div>
    {{ form_end(form) }}
</div>

<div
    id='twig-to-js'
    data-entity-type-clean='{{ entityTypeClean }}'
    data-path-assets-banner='{{ asset("/assets/img/sections/") }}'
    data-path-assets-logos='{{ asset("/assets/img/logos/") }}'
    data-child-entity='{{ childEntityType ?? '' }}'
></div>

{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/manage-sections.js') }}"></script>
{% endblock %}
