{% extends 'body.html.twig' %}

{% block title %}Profile{% endblock %}

{% block stylesheets %}
	<link rel="stylesheet" href="{{ asset('node_modules/croppie/croppie.css') }}"/>
{% endblock %}

{% block section_id %}admin{% endblock %}

{% block body %}
	<div class="ui segment mainContainerForm">
		<div class="containerHeader">
			<a href="{{ backButton }}" class="ui button back-button">Retour</a>
			<h2>Profil de {{ user.username }}</h2>
		</div>
		{% include "partial/message_flash.html.twig" %}
		<div class="ui form segment">
			{{ form_start(formUserData) }}
			{{ form_row(formUserData.username) }}
			{{ form_row(formUserData.email) }}
			<div class="upload-avatar">
				<div class="container">
					{{ form_row(formUserData.avatar_upload, { label: 'Upload', label_attr: { class: 'ui basic button' }, attr: { class: 'upload-by-label' }}) }}
					{{ form_row(formUserData.avatar_base64) }}
					<input type="button" class="ui basic button upload-result" value="Preview"/>
					<input type="button" class="ui basic green button upload-valid" value="Submit"/>
					{% if user.avatar %}
						<div class='user-avatar'>
							<i class="close icon"></i>
							<img src="{{ asset(path_images ~ '/avatars/' ~ user.avatar) }}"/>
						</div>
					{% endif %}
				</div>
				<div class="container">
					<div id="avatar-croppie" data-user-id='{{ user.id }}'></div>
				</div>
			</div>
			<div class="ui divider"></div>
			{% if is_granted('ROLE_SUPER_ADMIN') %}
			{{ form_row(formUserData.roles) }}
			{% endif %}
			{{ form_row(formUserData.save) }}
			{{ form_end(formUserData) }}
		</div>

		<div class="ui form segment">
			{{ form_start(formUserPassword) }}
			{{ form_row(formUserPassword.plainActualPassword) }}
			{{ form_row(formUserPassword.plainNewPassword) }}
			{{ form_row(formUserPassword.plainNewPasswordRetry) }}
			<div class="ui divider"></div>
			{{ form_row(formUserPassword.save) }}
			{{ form_end(formUserPassword) }}
		</div>
	</div>
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('node_modules/croppie/croppie.min.js') }}"></script>
	<script src="{{ asset('assets/js/croppie.js') }}"></script>
{% endblock %}
