{% extends 'body.html.twig' %}

{% block title %}Settings{% endblock %}

{% block section_id %}admin{% endblock %}

{% block body %}

<div class="ui segment mainContainerForm">
    <div class="containerHeader">
        <a href="{{ backButton }}" class="ui button back-button">Retour</a>
        <h2>Paramètres</h2>
    </div>
    {% include "partial/message_flash.html.twig" %}
    {{ form_start(formMaintenance) }}
    <div class="ui form segment">
        {{ form_row(formMaintenance.active, {'attr': {'checked': app_maintenance|bool }}) }}
        <div class="ui divider"></div>
        {{ form_row(formMaintenance.ttl) }}
    </div>
    {{ form_row(formMaintenance.save) }}
    {{ form_end(formMaintenance) }}
    <div class="ui divider"></div>
    {{ form_start(form) }}
    <div class="ui form segment">
        {{ form_row(form.website_banner) }}
        {% if settings.website_banner is defined %}
        <img class='ui centered aligned big image' src='{{ asset('assets/img/') ~ settings.website_banner }}'>
        {% endif %}
        {{ form_row(form.admin_sender_email, {'value': settings.admin_sender_email}) }}
        {{ form_row(form.admin_sender_name, {'value': settings.admin_sender_name}) }}
    </div>
    {{ form_row(form.save) }}
    {{ form_end(form) }}
</div>

{% endblock %}
