<tr id="updateInLine" class="ui message line" style="display: none;">
  <td class="ui form">
    {{ form_start(form, {'attr': {'id': 'form_arc_update'}}) }}
    {{ form_row(form.position) }}
    {{ form_row(form.cover, { label: 'Upload cover', label_attr: { class: 'ui basic button arc_form_cover_label' }, attr: { class: 'upload-by-label' }, help: false, required: false }) }}
    {{ form_row(form.title) }}
    {{ form_row(form.content) }}
    {{ form_row(form.linkA) }}
    {{ form_row(form.linkB) }}
    {{ form_row(form.isEvent, { label: 'Event' }) }}
    {{ form_widget(form.period, {'label': false, 'attr': {'class': 'hidden_row'}}) }}
    {{ form_row(form.save) }}
    {{ form_end(form) }}
    <p id="result-file-selected"></p>
    <i class="far fa-times-circle btn_close" id="update_close"></i>
  </td>
</tr>
