{% extends 'body.html.twig' %}

{% block title %}Manage users{% endblock %}

{% block section_id %}admin{% endblock %}

{% block body %}

<div class="ui segment mainContainerForm">
    <div class="containerHeader">
        <a href="{{ backButton }}" class="ui button back-button">Retour</a>
        <h2>Gestions des utilisateurs</h2>
    </div>
    {% include "partial/message_flash.html.twig" %}
    <div class="ui form segment">
      <div class="ui middle aligned animated list">
        {% for user in users %}
        <div class="item">
          <div class="right floated content">
            <a href='{{ path('odl_admin_edit_user', {'userId': user.id}) }}' title='Modifier' class="ui button"><i class='cog icon'></i></a>
          </div>
          {% if user.avatar %}
          <img class="ui avatar image" src="{{ asset(path_images ~ '/avatars/' ~ user.avatar) }}">
          {% else %}
          <i class='icon user'></i>
          {% endif %}
          <div class="content">
            <div class="header">{{ user.username }}</div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
</div>

{% endblock %}
