@font-face {
  font-family: 'Keep Calm';
  src: url('fonts/Keep_Calm.eot'); /* IE9*/
  src: url('fonts/Keep_Calm.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('fonts/Keep_Calm.woff') format('woff'), /* chrome、firefox */ url('fonts/Keep_Calm.ttf') format('truetype'),
    /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/ url('fonts/Keep_Calm.svg#Keep Calm W01 Book') format('svg'); /* iOS 4.1- */
}

html,
body {
  font-family: 'Keep Calm';
  margin: 0;
}

main {
  min-height: 100%;
  position: relative;
  padding-top: 42px;
}

::-webkit-scrollbar {
  width: 8px;
  margin-right: 3px;
}

::-webkit-scrollbar-track {
  display: none;
  /* -webkit-box-shadow: inset 0 0 7px rgba(0,0,0,1);
    border-radius: 5px; */
}

::-webkit-scrollbar-thumb {
  border-radius: 5px;
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 1);
  background-color: black;
}

#btnup {
  z-index: 1;
  width: 30px;
  height: 30px;
  font-size: 20px;
  position: fixed;
  right: 20px;
  bottom: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn_head,
.btn_send,
.btn_hide,
.btn_show,
.btn_next,
.btn_prev,
.btn_page,
.btn_pagination,
.btn_admin,
.btn_trash,
.update_tr,
.btn_close,
#btnup {
  cursor: pointer;
}

.btn_head:hover,
.btn_send:hover,
.btn_hide:hover,
.btn_show:hover,
.btn_next:hover,
.btn_prev:hover,
.btn_page:hover,
.btn_pagination:hover,
.btn_admin:hover,
#btnup:hover {
  box-shadow: 0.5px 0.5px 0.5px grey;
}
