header {
  position: relative;
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url('../img/website_banner.jpeg') center;
}

header a#header {
  display: inline-block;
  width: 100%;
  height: 100%;
  text-decoration: none;
  color: white;
}

div.ui.icon.menu {
  z-index: 1000;
  position: fixed;
  margin-bottom: 0;
  width: 100%;
  top: 0;
}

div.ui.icon.menu #user-avatar {
  height: 22px;
  width: 22px;
}

div.ui.icon.menu .right.menu .message {
  margin-top: 0;
  margin-bottom: 0;
}

div.ui.icon.menu .right.menu div.item {
  height: 42px;
}

div.ui.icon.menu .right.menu div.item div.search {
  bottom: 0;
}

div.ui.icon.menu .right.menu div.item div.search div.input {
  height: 30px;
}

div.ui.icon.menu .right.menu div.item div.search div.results {
  left: unset;
  right: 0;
}

section {
  padding: 20px;
  padding-bottom: 95px;
}

.container.form .segment {
  width: 50%;
}

.mainContainerForm {
  min-width: 50vw;
}

.containerHeader {
  width: 100%;
  height: 36px;
  margin-bottom: 5px;
  position: relative;
}

.containerHeader h1.ui.center.aligned.header {
  margin-top: 0;
}

.containerHeader h2 {
  width: 80%;
  text-align: center;
  margin: 0 auto;
}

.arc-count-container {
  position: absolute;
  top: 15px;
  width: 0;
  padding-right: 1rem;
  right: 0;
}

.ui.button.back-button {
  position: absolute;
  left: 0;
}

.ui.segment .ui.form .ui.button {
  margin-bottom: 5px;
}

.ui.segment .ui.form .ui.button:last-child {
  margin-bottom: 0;
}

.ui.segment .ui.form .field.formEntity {
  margin-bottom: 10px;
  border-bottom: 1px solid lightgrey;
}

#message-flash-popup {
  position: fixed;
  z-index: 1;
  top: 50px;
}

#updateInLine td.ui.form form#form_arc_update {
  display: flex;
  justify-content: center;
  align-items: center;
}

#updateInLine label.arc_form_cover_label {
  cursor: pointer;
}

.upload-by-label {
  opacity: 0;
  position: absolute;
  z-index: -1;
}

#updateInLine .hidden_row {
  display: none;
}

p#result-file-selected {
  position: absolute;
  bottom: 0;
  display: inline-block;
  margin: 0;
  left: 5px;
  font-size: 0.7em;
}

p#result-file-selected:not(:empty):before {
  content: 'Selected file: ';
}

table tr.line.isEvent {
  border: 2px solid #2185d0;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 75px;
  background: #2185d0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

footer p {
  font-size: 10px;
}

.ui.segment > .cel_id.ui.left.corner.label {
  top: 0;
  left: 0;
}

.upload-avatar {
  display: flex;
  padding: 5px;
}

.upload-avatar .button {
  min-width: 100px;
}

.upload-avatar .container:nth-child(2) {
  flex: 1;
}

.upload-avatar .container {
  display: flex;
  flex-direction: column;
}

.user-avatar {
  position: relative;
}

.user-avatar .close.icon {
  position: absolute;
  right: 0;
  cursor: pointer;
}

div.period,
.search div.ui.segment,
div.universe {
  width: 90%;
}

.content_period,
.search-content,
.era_home {
  display: none;
  position: relative;
  padding-bottom: 25px;
}

.search-content {
  display: block;
}

div.universe div.era_home a {
  text-decoration: none;
}

.content_period table .cel_img,
.search table .cel_img {
  display: flex;
  align-items: center;
}

div.universe div.era_home td.cel_img {
  width: 60%;
  display: flex;
  align-items: center;
  justify-content: center;
}

div.universe div.era_home td.cel_img img {
  opacity: 0.5;
  width: 100%;
}

.content_period table .cel_title,
.search table .cel_title {
  text-align: center;
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

div.universe div.era_home td.cel_title {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 80px;
  color: black;
}

.content_period table .cel_content,
.search table .cel_content {
  width: 40%;
  font-size: 12px;
  font-weight: normal;
  display: flex;
  align-items: center;
}

.content_period table .cel_publi,
.search table .cel_publi {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.content_period td,
.search td {
  position: relative;
}
