body main section.main-section {
  margin: 1em !important;
  margin-bottom: 0 !important;
  padding-bottom: 85px !important;
}

div.search {
  position: absolute;
  left: 10px;
  bottom: 10px;
}

@media (max-width: 992px) {
  div.search {
    width: 120px;
  }
  div.search i.fa-search {
    position: absolute;
    top: 8px;
    right: 5px;
  }
}

input.prompt {
  background: none;
  border: none;
  margin: 0;
}

form.search-bar {
  position: relative;
  background: rgba(220, 220, 220, 0.7);
  border-radius: 2px;
  border: solid 1px aliceblue;
  padding: 2px;
}

form.search-bar i {
  color: rgb(90, 90, 90);
}

form.search-bar input.hide-input {
  visibility: hidden;
  position: absolute;
  margin: 0;
  border-radius: 0;
  width: 0;
  height: 0;
}

.autocompletion {
  display: none;
  position: absolute;
  z-index: 1;
  width: 160px;
  min-height: 25px;
  border: solid 1px lightgrey;
  border-radius: 5px;
  background: rgba(220, 220, 220, 0.9);
  margin-top: 5px;
  font-size: 10px;
}

.autocompletion div {
  border-bottom: solid 1px rgb(121, 121, 121);
  margin-bottom: 5px;
}

.autocompletion a {
  text-decoration: none;
  color: black;
}

.admin {
  position: absolute;
  top: 0;
  right: 30px;
  color: white;
  font-weight: bold;
  z-index: 1000;
}

.admin p {
  margin-top: 5px;
}

.div_btn_head {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.div_btn_head .btn_head {
  width: 60px;
}

.btn_head {
  width: 100%;
  margin-bottom: 5px;
  border-radius: 2px;
  border: transparent;
  background: rgba(220, 220, 220, 0.7);
}

input:invalid {
  background-color: pink;
}

section {
  padding: 20px;
  padding-bottom: 75px;
}

table {
  border-collapse: separate;
  border-spacing: 0 10px;
  margin: 0 auto;
  width: 90%;
}
table tr.line {
  height: 240px;
  background: rgba(240, 240, 240);
  display: flex;
  justify-content: space-between;
}
.modify {
  margin-left: 10px;
}
.modify a,
.delete a {
  color: grey;
}

.modify_form {
  display: none;
}

.title_period,
.title_universe {
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.arc_count {
  position: absolute;
  right: 10px;
  font-size: 10px;
}

.btn_show,
.btn_hide {
  position: absolute;
  background: white;
  border: none;
  border-radius: 5px;
  margin-left: 15px;
  margin-top: 10px;
}

/* .btn_hide.down {
  bottom: 15px;
} */

.btn_next,
.btn_prev,
.btn_page {
  background: white;
  border: none;
  border-radius: 5px;
}

.btn_page {
  color: lightgrey;
}

#btn_page_1 {
  color: red;
  border: solid 1px grey;
  border-radius: 10px;
}

.btn_pagination.top {
  position: absolute;
  right: 15px;
  top: -15px;
  display: flex;
}

.btn_pagination.bottom {
  position: absolute;
  right: 15px;
  bottom: 15px;
  display: flex;
}

.btn_pagination:hover {
  border-radius: 5px;
}

.btn_admin {
  background: lightgrey;
  border: none;
  border-radius: 5px;
  width: 105px;
  height: 52px;
}

#updateInLine td {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo_opacity {
  opacity: 0.1;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: rgba(0, 121, 240, 0.7);
  color: black;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: '';
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: rgba(0, 121, 240, 0.7) transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

/* CHANGELOG */
.changelog h1 {
  font-size: 20px;
  margin: 5px;
  text-align: center;
}
.cl_line {
  background: #e6e6e6;
  line-height: 20px;
  margin-bottom: 5px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
  padding: 5px;
}

.cl_line p,
.cl_line ul {
  margin: 0;
}

.cl_line .cl_date,
.cl_line .cl_position {
  font-size: 10px;
  min-height: 50px;
  max-height: 100%;
  border-right: solid 5px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
  padding-right: 2px;
  text-align: center;
}

.cl_line .cl_position {
  width: 3%;
}

.cl_line .cl_content {
  width: 90%;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 5px;
}

.cl_line .cl_list {
  font-size: 12px;
}

.cl_line .cl_author {
  font-size: 10px;
  min-height: 50px;
  max-height: 100%;
  width: 80px;
  border-left: solid 5px white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 5%;
  padding-left: 2px;
}

@media (max-width: 992px) {
  .cl_line .cl_date {
    font-size: 8px;
    width: 10%;
  }

  .cl_line .cl_content {
    width: 80%;
    font-size: 14px;
  }

  .cl_line .cl_list {
    font-size: 10px;
  }

  .cl_line .cl_author {
    font-size: 8px;
    width: 10%;
  }
}

p.text-result {
  text-align: center;
}

div.flex.row {
  display: flex;
}

div.last_element {
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

div.last_element.forbidden {
  opacity: 0.3;
}

div.last_element.forbidden .btn_admin:hover {
  box-shadow: none;
  cursor: auto;
}

.btn_close {
  position: absolute;
  right: 5px;
  top: 5px;
}

.btn_trash,
.update_tr {
  margin: 2px;
}

/*
*
* Custom Checkbox
*
*/
/* Customize the label (the container) */
/* .container {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
} */

/* Hide the browser's default checkbox */
/* .container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
} */

/* Create a custom checkbox */
/* .checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
} */

/* On mouse-over, add a grey background color */
/* .container:hover input ~ .checkmark {
  background-color: #ccc;
} */

/* When the checkbox is checked, add a blue background */
/* .container input:checked ~ .checkmark {
  background-color: #2196f3;
} */

/* Create the checkmark/indicator (hidden when not checked) */
/* .checkmark:after {
  content: '';
  position: absolute;
  display: none;
} */

/* Show the checkmark when checked */
/* .container input:checked ~ .checkmark:after {
  display: block;
} */

/* Style the checkmark/indicator */
/* .container .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
} */

/** Manage Universes **/
#manage_universe_page h2 {
  text-align: center;
}

#manage_universe_page h4 {
  margin: 0;
}

#manage_universe_page form div.era {
  border-top: 1px solid lightblue;
  border-bottom: 1px solid lightblue;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 5px;
}

#manage_universe_page input[type='submit'] {
  display: block;
  margin: 5px auto;
}

#manage_universe_page .era .columns {
  display: flex;
  justify-content: space-around;
}

#manage_universe_page .era .two.columns > div {
  width: 50%;
}
