<body style='background-color: #efefef; width: 100%; padding: 5px;'>
  {% set borderRadius = '5px' %}
  {% if banner is not null %}
    {% set borderRadius = '0 0 5px 5px' %}
  <img src="{{ email.image('@images/' ~ banner) }}" alt="Banner" style='width: 75%; display: block; margin: 0 auto; border-radius: 5px 5px 0 0;'>
  {% endif %}
  <div style='background-color: white; width: 75%; margin: 0 auto; border-radius: {{ borderRadius }};'>
    <div style='width: 100%; padding: 10px;'>
      <h2>Hello {{ user.username }} !</h2>
      <p>Pour réinitialiser votre mot de passe, cliquez sur le lien ci-dessous.<br>
      Ce lien restera actif 10min.</p>
      <div style='width: 100%; text-align: center;'>
        <a href='{{ url }}' style='padding: 5px; background-color: #2185d0; color: white; border-radius: 5px; text-decoration: none;'>
          Réinitialiser
        </a>
      </div>
      <p>Si vous n'êtes pas à l'origine de cette demande, merci d'ignorer cet e-mail.</p>
      <p>À bientôt,<br>
      {{ copyright_website }}</p>

      <p>
        Vous pouvez également copier-coller ce lien dans votre navigateur :<br>
        <a href='{{ url }}' style='width: 90%; display: inline-block;'>{{ url }}</a>
      </p>
    </div>
  </div>
</body>
