{% set app_settings = app_settings.findAll %}
{% set app_maintenance = app_maintenance.isExists %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>{{ app_name }} | {% block title %}{% endblock %}</title>
    {% include "partial/stylesheets.html.twig" %}
    {% block stylesheets %}{% endblock %}
</head>

<body>
    <main>
        {% include "partial/menu.html.twig" %}
        {% include "partial/header.html.twig" %}
        <section
            class='ui middle aligned center aligned grid main-section {% block section_class %}{% endblock %}'
            id='{% block section_id %}{% endblock %}_page'
        >
            {% block body %}{% endblock %}
            {% include "partial/javascripts.html.twig" %}
            {% block javascripts %}{% endblock %}
        </section>
        {% include "partial/footer.html.twig" %}
    </main>
</body>

</html>
