{% extends "body.html.twig" %}

{% block title %}{{ parent() }}Home{% endblock %}

{% block section_id %}home{% endblock %}
{% block section_class %}odl{% endblock %}

{% block body %}

{% for universe in universes %}
<div class='ui segment universe'>
    <h2 class='title_universe btn_{{ universe.id }}'>{{ universe.name }}</h2>
    <div class='era_home' id='{{ universe.id }}'>
        {% for era in universe.eras|sort((a, b) => a.position <=> b.position) %}
        {% set count = 0 %}
        {% for period in era.periods %}
        {% set count = count + period.arcs|length %}
        {% endfor %}
        <a href='{{ path('odl_reading_order_page', {'era_id': era.id}) }}'>
            <table class='{{ universe.id }}' style='display: table;'>
                <tr class='ui blue segment line' id='{{ era.id }}'>
                    <td class='cel_img'>
                        <img src='{{ asset("/assets/img/sections/" ~ era.image) }}'>
                    </td>
                    <td class='cel_title'>
                        <h3>{{ era.name }}</h3>
                        <div class='arc-count-container'>
                            <span class='ui blue right ribbon label'>{{ count }}</span>
                        </div>
                    </td>
                </tr>
            </table>
        </a>
        {% endfor %}
        <button class='ui basic button btn_hide down btn_{{ universe.id }}' name='hide'>Fermer</button>
    </div>
</div>
{% endfor %}
{% endblock %}
