{% extends "body.html.twig" %}

{% block title %}{{ parent() }}{{ era.name|raw ~ ' - Reading Order' }}{% endblock %}

{% block section_id %}{{ era.cleanName|raw }}{% endblock %}
{% block section_class %}odl{% endblock %}

{% block body %}

<div id='message-flash-popup'>
</div>

<div class="containerHeader">
    <a href="{{ backButton }}" class="ui basic button back-button">Retour</a>
    <h1 class="ui center aligned header">{{ universe.name ~ ' - ' ~ era.name }}</h1>
</div>

{% set coverSource = '#' %}
{% for period in era.periods %}
{% set arcsLength = period.arcs|length %}
<div class='ui segment period' id='{{ period.id }}'>
    <h2 class='title_period btn_{{ period.cleanName }}'>{{ period.name }}</h2>
    <div class="arc-count-container">
        <span class='ui blue right ribbon label'>{{ arcsLength }}</span>
    </div>
    <div class='content_period' id='{{ period.cleanName }}'>
        <!-- begin display buttons -->
        {% include 'partial/pagination_buttons.html.twig' with {'class_button': 'top'} %}
        <!-- end display buttons -->
        {% set i = 1 %}
        {% set p = 1 %}
        {% for arc in period.arcs %}
        {% if i % 20 == 0 %}
        <!-- begin display line -->
        {% include 'partial/arc_line.html.twig' %}
        <!-- begin display end -->
        {% set i = i + 1 %}
        {% set p = p + 1 %}
        {% else %}
        <!-- begin display line -->
        {% include 'partial/arc_line.html.twig' %}
        <!-- begin display end -->
        {% set i = i + 1 %}
        {% endif %}
        {% endfor %}
        <!-- begin display buttons -->
        {% include 'partial/pagination_buttons.html.twig' with {'class_button': 'bottom'} %}
        <!-- end display buttons -->
        <button class='ui basic button btn_hide down btn_{{ period.cleanName }}' name='hide'>Fermer</button>
    </div>
</div>
{% endfor %}
{% include 'partial/button_back_to_top.html.twig' %}
{% endblock %}

{% set periods = [] %}
{% for period in era.periods %}
{% set periods = periods|merge([period]) %}
{% endfor %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/reading-order.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/update-arc.js') }}"></script>
<script type="text/javascript">
  var eraId = {{ era.id|json_encode|raw }};
  var periods = {{ periods|json_encode|raw }};
  var pathAssetCover = '{{ asset('/assets/img/covers/') }}';
</script>
{% endblock %}
