{% extends "body.html.twig" %}

{% block title %}{{ parent() }}Search{% endblock %}

{% block section_id %}search{% endblock %}
{% block section_class %}search{% endblock %}

{% block body %}
<div class='ui segment'>
  <div class='ui blue message'>
    Recherche : <em>{{ query }}</em>
    <br>
    Total : {{ arcs|length }}
  </div>
  <div class="search-content">
  {% set periodName = '' %}
  {% set arcs = arcs|sort((a, b) => a.position <=> b.position) %}
  {% set arcs = arcs|sort((a, b) => a.period.position <=> b.period.position) %}
  {% if from == 'all' %}
    {% set arcs = arcs|sort((a, b) => a.period.era.position <=> b.period.era.position) %}
    {% set arcs = arcs|sort((a, b) => a.period.era.universe.name <=> b.period.era.universe.name) %}
  {% endif %}
  {% for arc in arcs %}
    {% if arc.period.name != periodName %}
      {% if from == 'all' %}
        {% set era = arc.period.era %}
        {% set universeName = arc.period.era.universe.name %}
      {% endif %}
    {% set periodName = arc.period.name %}
    <div class='ui message header'>
      {% if universeName is defined %}{{ universeName ~ ' - ' }}{% endif %}{{ arc.period.name }}
    </div>
    {% endif %}
    {% set coverSource = asset('/assets/img/covers/') ~ arc.cover %}
    {% include 'partial/arc_line.html.twig' %}
  {% endfor %}
  </div>
</div>
{% endblock %}

{% block javascripts %}
<script type="text/javascript" src="{{ asset('assets/js/reading-order.js') }}"></script>
<script type="text/javascript" src="{{ asset('assets/js/update-arc.js') }}"></script>
{% endblock %}
