<table class='{{ (p is defined) ? 'page_' ~ p : '' }}'>
  <tbody>
    <tr class='ui segment blue line {% if arc.isEvent %}isEvent{% endif %}' id='{{ arc.id }}'>
        <td class='cel_id ui blue left corner label'>
            <span class='icon'>{{ arc.position }}</span>
        </td>
        <td class='cel_img'><img src='{{ coverSource }}'></td>
        <td class='cel_title'>
            <h3>{{ arc.title|unescape }}</h3>
        </td>
        <td class='cel_content'>
            <p>{{ arc.content|unescape|nl2br }}</p>
        </td>
        {% if (era.getLogoLinkA() is not empty) or (era.getLogoLinkB() is not empty) %}
        <td class='cel_publi'>
            <h4>Disponible chez</h4>
            <div class='img_publi'>
                <!-- begin display links -->
                {% if (era.getLogoLinkA() is not empty) %}
                {% if arc.getLinkA() is not empty %}
                <a class='urlUrban' href='{{ arc.getLinkA() }}' target='_blank'>
                    <img src='{{ asset('assets/img/logos/') }}{{ era.getLogoLinkA() }}'>
                </a>
                {% else %}
                <img src='{{ asset('assets/img/logos/') }}{{ era.getLogoLinkA() }}' class='logo_opacity'>
                {% endif %}
                {% endif %}
                {% if (era.getLogoLinkB() is not empty) %}
                {% if arc.getLinkB() is not empty %}
                <a class='urlDctrad' href='{{ arc.getLinkA() }}' target='_blank'>
                    <img src='{{ asset('assets/img/logos/') }}{{ era.getLogoLinkB() }}'>
                </a>
                {% else %}
                <img src='{{ asset('assets/img/logos/') }}{{ era.getLogoLinkB() }}' class='logo_opacity'>
                {% endif %}
                {% endif %}
                <!-- end display links -->
            </div>
        </td>
        {% endif %}
        {% if is_granted('ROLE_EDITOR') %}
        <td>
            <button class="ui basic icon button update_tr">
                <i id='line_{{ arc.id }}' class='fas fa-pen-fancy'></i>
            </button>
            <button class="ui basic icon button btn_trash">
                <i class='fas fa-trash-alt'></i>
            </button>
        </td>
        {% endif %}
    </tr>
  </tbody>
</table>
