<div class="ui cards">
    {% for card in cards %}
    <div class="card">
        <div class="content">
            <div class="header"><i class="{{ card.icon }} icon"></i>{{ card.title }}</div>
            <div class="description">
                {{ card.description }}
            </div>
        </div>
        <a href="{{ path(card.path) }}">
            <div class="ui bottom attached button">
                <i class="play icon"></i>
            </div>
        </a>
    </div>
    {% endfor %}
</div>
