<footer>
    <span>
        <p><strong>{% if copyright_website %}&#9400;{{ copyright_website }}{% endif %}</strong></p>
        <p><strong>{% if webmaster %}Developer &#9400;{{ webmaster }}{% endif %}</strong></p>
        <p><strong>{% if copyright_reading_order %}{{ 'Reading order by ' ~ copyright_reading_order }}{% endif %}</strong>
        </p>
    </span>
</footer>
