<div class="ui icon menu" id='up'>
    <a href='{{ path('odl_home_page') }}' title='Home' class='item'>
        <i class='fas fa-home'></i>
    </a>
    {% if is_granted('ROLE_EDITOR') %}
    <a href='{{ path('odl_admin_home') }}' title='PCA' class='item'>
        <i class='fas fa-bars'></i>
    </a>
    <a href='{{ path('odl_admin_add_arc') }}' title='Ajouter un arc' class='item'>
        <i class='fas fa-plus-circle'></i>
    </a>
    {% endif %}
    <div class='right menu'>
      <div class='item'>
      {% include "partial/search-bar.html.twig" %}
      </div>
      {% if app.user.username is defined %}
        <p class='ui basic message item'>{{ "Hello " ~ app.user.username }}</p>
      <a href='{{ path('odl_admin_profile') }}' title='Profil' class='item'>
          {% if app.user.avatar %}
          <img id='user-avatar' src='{{ asset(path_images ~ '/avatars/' ~ app.user.avatar) }}'>
          {% else %}
          <i class='icon user'></i>
          {% endif %}
      </a>
      <a href='{{ path('odl_security_logout') }}' title='Déconnexion' class='item'>
          <i class='fas fa-sign-out-alt'></i>
      </a>
      {% else %}
      <a href='{{ path('odl_security_login') }}' title='Connexion' class='item'>
        <i class='fas fa-sign-in-alt'></i>
      </a>
      {% endif %}
    </div>
</div>
