<!--
message should be an array of the following variables:
  - type: info/error/warning. It could be a color name, size or both. See https://semantic-ui.com/collections/message.html#info for more.
  - title (optionnal)
  - content: it could have some html tags.
-->
<div class="ui {{ message.type }} message">
    {% if message.title is defined and message.title is not empty %}
    <div class="header">{{message.title}}</div>
    {% endif %}
    <p>{{ message.content|raw }}</p>
</div>
