{% if app.flashes is defined %}
{% for label, messages in app.flashes %}
<div class="ui {{ label }} message">
    {% for message in messages %}
    <p>{{ message }}</p>
    {% endfor %}
</div>
{% endfor %}
{% endif %}
