{% if arcsLength > 20 %}
<div class='btn_pagination {{class_button}}'>
    <button class='btn_prev' name='pagination' style='display: none'><i class='fas fa-chevron-circle-left'></i></button>
    {% set p = (arcsLength / 20)|round(0, 'ceil') %}
    {% for i in 1..p %}
    <button class='btn_page btn_page_{{ i }}' name='pagination'>{{ i }}</button>
    {% endfor %}
    <button class='btn_next' name='pagination'><i class='fas fa-chevron-circle-right'></i></button>
</div>
{% endif %}
