<div class="ui category search">
  <div class="ui transparent icon input">
    <input class="prompt" id="search-bar" type="text" placeholder="Search...">
    <i class="search icon"></i>
  </div>
  <div class="results" id='search-results'></div>
</div>
