{% extends 'body.html.twig' %}

{% block body %}
<div class="ui error message">
  <div class="header">
    Access Denied
  </div>
  <p>You don't have right to access this page.</p>
</div>
{% endblock %}
