{% extends 'body.html.twig' %}

{% block body %}
<div class="ui error message">
    <div class="header">
        Your website is under maintenance
    </div>
    <p>Please, reload this page in few minutes or contact an administrator.</p>
</div>
{% endblock %}
